<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>
<div class="container my-3">
    <div class="card p-3">
        <div class="card-title" th:text="${board.boardTitle}"></div>
        <div class="row">
            <div class="col-6">
                <div class="card-subtitle mb-2 text-body-secondary"
                     th:text="|작성자:${board.boardWriter}|"></div>
            </div>
            <div class="col-6 text-end">
                <div class="card-subtitle mb-2 text-body-secondary"
                     th:text="|조회수: ${board.boardHits} 작성일: ${board.createdAt}|"></div>
            </div>
        </div>
        <hr>
        <div class="card-text mb-3" th:text="${board.boardContents}"></div>
        <div th:if="${board.fileAttached == 1}">
            <div th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}|}" width="200" height="200" alt="">
            </div>
        </div>
        <div class="text-center mb-3">
            <button class="btn btn-primary" onclick="req_fn('update')">수정</button>
            <button class="btn btn-secondary" onclick="toList()">목록</button>
            <button class="btn btn-danger" onclick="req_fn('delete')">삭제</button>
        </div>
        <div id="check-pass-area"></div>
        <div class="card p-3">
            <div id="comment-area">
                <div class="card p-3 mb-2" th:each="comment : ${board.commentDTOList}">
                    <div class="card-title mb-2" th:text="${comment.commentWriter}"></div>
                    <hr>
                    <div class="card-text mb-2" th:text="${comment.commentContents}"></div>
                    <div class="card-subtitle text-end" th:text="${comment.createdAt}"></div>
                </div>
            </div>
            <div class="card p-3 mb-2">
                <form name="comment-save" action="/comment/save" method="post">
                    <div class="input-group mb-3">
                        <span class="input-group-text">작성자</span>
                        <input class="form-control" name="commentWriter">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control" rows="3" name="commentContents" placeholder="댓글 내용"></textarea>
                    </div>
                    <div class="text-end">
                        <button class="btn btn-secondary">등록</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{component/footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const checkPassArea = document.querySelector("#check-pass-area");
    const id = [[${board.id}]]
    const passDB = [[${board.boardPass}]];

    document.querySelector('[name="comment-save"]').addEventListener("submit", e => {
        e.preventDefault();
        const commentWriter = document.querySelector('[name="commentWriter"]').value;
        const commentContents = document.querySelector('[name="commentContents"]').value;
        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: commentWriter,
                commentContents: commentContents,
                boardId: id
            }
        }).then(res => {
            const commentArea = document.querySelector("#comment-area");
            let result = "";
            for (let i in res.data) {
                result += "<div class='card p-3 mb-2'>";
                result += "<div class='card-title mb-2'>"+res.data[i].commentWriter+"</div><hr>";
                result += "<div class='card-text mb-2'>"+res.data[i].commentContents+"</div>";
                result += "<div class='card-subtitle text-end'>"+res.data[i].createdAt+"</div>";
                result += "</div>";
            }
            commentArea.innerHTML = result;
        }).catch(err => {
            alert("댓글 작성 실패");
        })
    })
    const toList = () => {
        const page = [[${page}]];
        const type = [[${type}]];
        const q = [[${q}]];
        location.href = `/board?page=${page}&type=${type}&q=${q}`;
    };
    const req_fn = (type) => {
        let area = "<div class='input-group mb-2'><span class='input-group-text'>비밀번호</span>"
        area += "<input id='pass' type='password' class='form-control'></div>"
        area += `<div class="text-end"><button class="btn btn-secondary" onclick="pass_check('${type}')">확인</button></div>`
        checkPassArea.innerHTML = area;
    };
    const pass_check = (type) => {
        console.log("type: " + type);
        const pass = document.querySelector("#pass").value;
        if (pass == passDB) {
            if (type == "update") {
                location.href = `/board/update/${id}`;
            } else if (type == "delete") {
                axios({
                    method: "delete",
                    url: `/board/${id}`
                }).then(res => {
                    location.href = "/board"
                }).catch(err => {
                    alert("삭제실패");
                });
            }
        } else {
            alert("비밀번호가 틀렸습니다.");
        }
    }
</script>
</html>